---
layout: base
---
<div id="contact-info">
    <section id="contact-description">
        {{ content }}
    </section>
    <section id="contact-links">
        <h2>Links</h2>
        <div class="contact-link">
            <img src="/images/envelope.svg" alt="Email icon" class="icon" id="envelope"/>
            <br />
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
        <div class="contact-link">
            <img src="/images/github-icon.svg" alt="GitHub icon" class="icon" id="github" />
            <br />
            <a href="https://www.github.com/{{ site.github_username }}">GitHub</a>
        </div>
        <div class="contact-link">
            <img src="/images/linkedin-icon.svg" alt="LinkedIn icon" class="icon" id="linkedin" />
            <br />
            <a href="{{ site.linkedin_url }}">LinkedIn</a>
        </div>
    </section>
</div>