<article class="entry">
    <div class="entry-card">
    {% if page.svg %}
        <img src="{{ page.svg }}" alt="{{ page.svg.alt }}" class="thumb" />
    {% else %}
        <picture>
            <source srcset="{{ page.img.small }}" media="(min-width:1025px)" />
            <img src="{{ page.img.normal }}" alt="{{ page.img.alt}}"" class="thumb" />
        </picture>
    {% endif %}
    </div>
    <div class="entry-info">
        <h2>{{ page.name }}</h2>
        <h3><a href="{{ page.github }}">GitHub repo</a></h3>
        <br />
        <p>
        {{ content }}
        </p>
    </div>
</article>